/* header {
    width: 100%;
}

header nav {
    width: 100%;
}

header ul {
    display: flex;
    width: 100%;
    margin: 0 auto;
    background-color: white;
}

header li {
    padding: 0 12px;
    padding-top: 16px;
    padding-bottom: 18px;
}

header li a {
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
} */

header .menu-bar {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 36px;
    padding-right: 36px;
    padding-left: 36px;
    background-color: var(--main-bg-color);
}

header .menu-bar__left,
header .menu-bar__right {
    display: flex;
    align-items: center;
}

header .menu-bar__left div {
    padding: 0 12px;
}

header .menu-bar__left svg:hover {
    fill: #666666;
}

header .menu-bar__right span {
    font-size: 12px;
    font-weight: 500;
}

header .menu-bar__right span:hover {
    color: #666666;
}

/* 기본 설정 */
.top-menu-bar{
    position: relative;
    display: flex;
    align-items: center;
    justify-content:center;
    box-sizing: border-box;
    margin-top: 30px;
    width: 100%;
    height: 60px;
    background-color: white;
}
.top-menu-bar__logo {
    position: absolute;
    left: 30px;
}

.top-menu-bar__logo:hover {
    opacity: 0.7;
}

.top-menu-bar__logo img {
    width: 80px;
    height: 80px;
}

/* 메뉴 - New Release, Men, Women, Kids, Sale, SNKRS */
.top-menu-bar__nav ul{
    position : absolute;
    right : 150px;
    display: flex;
    justify-content: center;
    width: 80%;
}

.top-menu-bar__nav ul li{
    display: flex;
    align-items: center;
}


.top-menu-bar__nav__title{
    padding: 0 20px;
    font-size: 20px;
    letter-spacing:-0.8px;
}

.top-menu-bar__nav__title a{
    padding: 0 20px;
    font-size: 20px;
    letter-spacing:-0.8px;
}

.top-menu-bar__nav__title:hover{
    border-bottom: 2px solid black;
}

/* 상세 메뉴 (드롭 메뉴) */
.top-menu-bar__nav__menu {
    position:absolute;
    display: flex;
    justify-content: center;
    width:100%;
    height:auto;
    background-color:#fff;
}

.top-menu-bar__nav__menu ul{
    margin: 30px;
    color: rgba(0, 0, 0, 0.5);
}

.top-menu-bar__nav__menu h1{
    margin-bottom: 25px;    
    font-size: 18px;
    color: black;
}

.top-menu-bar__nav__menu ul li{
    display: flex;
    justify-content: flex-start;
    width: 150px;
    line-height: 25px;
    font-size: 15px;
}

/* 검색 */
.top-menu-bar__search{
    position : absolute;
    right : 150px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 20%;
    height: 40px;
    width: 10%;
    border-radius: 20px;
    background-color: var(--main-bg-color);
}

.top-menu-bar__search i {
    margin-left: 10px;
}

.top-menu-bar__search input{
    margin-left: 10px;
    width: 80%;
    background: none;
    font-size: 15px;
}

.top-menu-bar__search input::placeholder {
    color: #d6d6d6;
}

/* 찜, 장바구니 */
.top-menu-bar__heartnbag{
    position : absolute;
    right : 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 10px;
    width: 50px;
}

.top-menu-bar__heartnbag i {
    box-sizing: border-box;
    margin-left: 30px;
}
