<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<!-- li 요소 안에 div 요소가 존재 -->
<!-- 평소에는 div 요소가 보이지 않고, 좀 더 위쪽에 존재 -->
<!-- :hover하면 div 요소가 보여지면서 아래로 내려옴 -->
<!-- css 불러오기 -->
<link rel="stylesheet" href="../../css/style.css">

<div class="top-menu-bar">
    <div class="top-menu-bar__logo"><a href="#"><img src="../../imges/nikeLogo.png" alt=""></a></div>
    <nav class="top-menu-bar__nav">
        <ul>
            <li>
                <a href="#"><div class="top-menu-bar__nav__title">New Releases</div></a>
            </li>
            <li>
                <a href="#"><div class="top-menu-bar__nav__title">Men</div></a>
                <div></div>
            </li>
            <li>
                <a href="#"><div class="top-menu-bar__nav__title">Women</div></a>
                <div></div>
            </li>
            <li>
                <a href="#"><div class="top-menu-bar__nav__title">Kids</div></a>
                <div></div>
            </li>
            <li>
                <a href="#"><div class="top-menu-bar__nav__title">Sale</div></a>
                <div></div>
            </li>
            <li>
                <a href="#"><div class="top-menu-bar__nav__title">SNKRS</div></a>
                <div></div>
            </li>
        </ul>
    </nav>
    <div class="top-menu-bar__search">
        <span class="icon"><i class="fa-solid fa-magnifying-glass fa-lg"></i></span>
        <input type="search" placeholder="검색">
    </div>
    <div class ="top-menu-bar__heartnbag">
        <a href="#"><i class="fa-regular fa-heart fa-lg"></i></a> 
        <a href="#"><i class="fa-solid fa-bag-shopping fa-lg"></i></a> 
    </div>

</div>

<div class="top-menu-bar__nav__menu">
         <ul>
            <h1>NEW & Featured</h1>
            <li><a href="#" class="items">신상품 전체보기</a></li>
            <li><a href="#" class="items">SNKRS</a></li>
            <li><a href="#" class="items">가을 컬렉션</a></li>
            <li><a href="#" class="items">에어포스 1</a></li>
            <li><a href="#" class="items">ACG</a></li>
            <li><a href="#" class="items">NikeLab</a></li>
            <li><a href="#" class="items">지속 가능 컬렉션</a></li>
        </ul>

        <ul>
            <h1>남성 신상품</h1>
            <li><a href="#" class="items">신발</a></li>
            <li><a href="#" class="items">의류</a></li>
            <li><a href="#" class="items">용품</a></li>
            <li><a href="#" class="items">전체보기</a></li>
        </ul>

        <ul>
            <h1>여성 신상품</h1>
            <li><a href="#" class="items">신발</a></li>
            <li><a href="#" class="items">의류</a></li>
            <li><a href="#" class="items">용품</a></li>
            <li><a href="#" class="items">전체보기</a></li>
        </ul>

        <ul>
            <h1>키즈 신상품</h1>
            <li><a href="#" class="items">신발</a></li>
            <li><a href="#" class="items">의류</a></li>
            <li><a href="#" class="items">용품</a></li>
            <li><a href="#" class="items">전체보기</a></li>
        </ul>
</div>




<script src="https://kit.fontawesome.com/c08363d7dd.js" crossorigin="anonymous"></script>
</body>
</html>




